@using Fast_food1.Models
@model List<Mon>
@{
    ViewBag.Title = "TimTheoLoaiSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />

<div id="wp-content" class="wp-inner clearfix">
    <img src="~/Content/img/banner-01.jpg">
    <div id="food-menu">
        <div class="title-menu clearfix" style="margin-top: 10px;">
            <form method="post"><input type="number" name="Min" placeholder="Từ Giá" /> <input type="number" name="Max" placeholder="Đến Giá" /> <input type="text" name="TKTen" placeholder="Tìm theo tên" /> <input type="submit" value="Tìm kiếm" /></form>
        </div>
        <div id="list-menu">
            <ul>
                @Html.Action("LoaiMonPartial", "LoaiMon")
            </ul>
        </div>
    </div>
</div>
<div id="list-food">
    <ul>
        @{
            foreach (var item in Model)
            {

                <li>
                    <div class="bo-img">
                        <a href="">
                            <img src="@Url.Content("~/Content/img/"+ item.UrlImg)">
                            <h4>@item.TenMon</h4>
                            <span class="price"> @item.Gia VND</span>
                        </a>
                        <button type="button" class="btn btn-info"> <a href="@Url.Action("CTMon","ChiTietSP", new { @Mamon = item.MaMon })">Chi Tiết</a> </button>
                        <button type="button" class="btn btn-danger">
                            <a style="color :#fff" href="@Url.Action("ThemGioHang", "GioHang", new { @ma = item.MaMon, @Url = Request.Url.ToString() })"> Mua</a>
                        </button>
                    </div>
                </li>
            }
        }
    </ul>
</div>

